  /********************* AFFICHAGE SMARTPHONE *********************/
  @media screen and (max-width: 768px) {
    body {
      line-height: 27px;
      font-weight: 350;
    }
    header {
      flex-flow: column nowrap;
      margin-top: 20px;
    }
    header ul {
      width: 100vw;
      flex-flow: row nowrap;
      justify-content: space-around;
      padding: 0;
    }
    header li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      padding: 20px 0 10px 0;
      border-bottom: solid var(--grisclair) 3px;
    }
    header li:hover {
      border-top: none;
      border-bottom: solid var(--bleu) 3px;
      color: var(--bleu);
    }
    section {
      margin: 30px 20px;
    }
    h1 {
      margin-bottom: 8px;
    }
    #rechercheSearchbar {
      margin-top: 35px;
      margin-bottom: 35px;
    }
    #bouton {
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 15px;
      margin-left: -10px;
    }
    .mobile {
      display: inline;
    }
    .desktop {
      display: none;
    }
    #rechercheFiltres {
      margin-top: 5px;
      flex-flow: column wrap;
      align-items: flex-start;
    }
    #populaires .container {
      gap: 10px;
    }
    #hebergements .container {
      flex-flow: column nowrap;
      justify-content: space-around;
      gap: 15px;
    }
    .card {
      border: 5px solid #fff;
    }
    #populaires .card {
      height: 145px;
    }
    #hebergements .card {
      width: 100%;
      height: 200px;
    }
    #hebergements .cardBody {
      height: 70px;
    }
    #hebergements .cardBody h3 {
      margin-top: 5px;
    }
    #more {
      margin: 0;
      margin-top: 30px;
      font-size: 110%;
      font-weight: 500;
    }
  
    body {
      background: yellow;
    }
  }
  